.ascii-table {
    font: medium/1 monospace;
    margin: 1em;
    display: inline-block;
    position: relative;
}
.ascii-table table {
    border-collapse: collapse;
}
.ascii-table td {
    border: 1px dashed #000;
    padding: .5em;
    position: relative;
}

.btn {
    color: #fff;
    background-color: #004E64;
    border-color: #004E64;
    font-weight: bold;
    letter-spacing: 0.05em;
    border-radius: 0;
    padding: 1em;
    margin: 1em;
}
  
.btn:hover,
.btn:active,
.btn:focus,
.btn.active {
    background: #003D4F;
    color: #ffffff;
    border-color: #003D4F;
}
